.buttont {
  margin-left: 5%;
}

.cardsms {
  margin-top: 5%;
}

.longcards {
  margin-left: -26%;
  margin-top: 5%;
}

#buttont {
  margin-right: -53%;
}

.animate__animated animate__backInLeft {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 10s;
}

#headinfg {
  font-size: 22px;
  font-family: Century !important;
  color: cadetblue;
}

/* .headingsss {
  font-size: 18px;
  font-family: saturated !important;
} */

#headingcards {
  font-size: 22px;
  font-family: Century !important;

  color: cadetblue;
}
.input-width > label {
  font-size: 18px;
  font-family: Century !important;
  color: cadetblue;
}

.hidemie {
  font-size: 22px;
  font-family: Century !important;
  color: cadetblue;
  margin-left: 7%;
  margin-top: -32px;
}

.hidingtext {
}

#buttonn {
  background-color: black !important;
  float: right;
}

.hidingfirst {
  margin-top: 10%;
  font-size: 25px;
  font-family: Century !important;
  color: cadetblue;
}

#dropdown-buttonn {
  margin-left: 3%;
  background-color: white;
}

.viedoplayerr {
  height: 30%;
  width: 40%;
}

.main-title-text > p {
  margin-top: .8em;
  line-height: 1.82459;
  font-weight: 400;
  letter-spacing: 0.016rem;
  font-size: 16px;
}
.main-title-heading {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  columns: #111111;
}
