body{
  overflow-x: hidden;
}



.buttont {
  margin-left: 5%;
}

.cardsms {
  margin-top: 5%;
}

.longcards {
  margin-left: -26%;
  margin-top: 5%;
}

#buttont {
  margin-right: -53%;
}

.animate__animated animate__backInLeft {
  display: inline-block;
  /* margin: 0 0.5rem; */
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 10s;
}

#headinfg {
  font-size: 22px;
  font-family: Century !important;
  color: cadetblue;
}

#headingcards {
  font-size: 22px;
  font-family: Century !important;

  color: cadetblue;
  text-align: center;
}
.input-width > label {
  font-size: 16px;
  font-family: Century !important;
  color: cadetblue;
}

.hidemie {
  font-size: 19px;
  font-family: Century !important;
  color: cadetblue;
  margin-left: 7%;
  margin-top: -32px;
}

#buttonn {
  background-color: black !important;
  float: right;
}

.hidingfirst {
  margin-top: 10%;
  font-size: 25px;
  font-family: Century !important;
  color: cadetblue;
}

#dropdown-buttonn {
  margin-left: 3%;
  background-color: white;
}

.viedoplayerr {
  height: 30%;
  width: 40%;
}

.main-title-text > p {
  text-align: justify;
  margin-top: 0.8em;
  line-height: 1.82459;
  font-weight: 400;
  letter-spacing: 0.016rem;
  font-size: 16px;
  color: #111111;
  text-align: left;
}
.main-title-heading {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  color: cadetblue;
  text-align: left;
}
.left-main-section {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 25px;
}
.right-main-section {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 28px;
  margin-right: 35px;
}
.mainpage-alignment {
  margin-top: 50px;
}
.submenu-alignment {
  margin-top: 20px;
}

::placeholder {
  font-family: century;
  font-size: 16px;
  color: cadetblue;
}

.headeing-text {
  margin-left: 7%;
  font-size: 24px;
  font-family: Century !important;
  color: cadetblue;
}

.headingcards{
  font-size: 22px !important;
  font-family: Century !important;
  color: cadetblue !important;
}
.startbtn{
  background-color: black !important;

}
.marginleftside{
  margin-left: 12%;
}
.mrrginside22{
  margin-right: 26%;
  margin-top: 4%;
}
.thirdclick{
  margin-top: 2%;
}
.formwidth{
  width: 75% !important;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .right-main-section {
    padding-top: 50px;
    padding-left: 31px;
    padding-right: 0px;
    margin-right: 32px;
  }
  .formwidth {
    width: 37vh !important;
}
 
}

/* Ankur Css For Home page ----------- */


.home_page{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -55;
}
.home_grid{
  width: 40vh !important;
  height: 40vh;

  /* border: 2px solid gray; */
}
.home_seo{
  text-align: center;
  font-family: century;
  font-weight: bold;
  font-size: 20px;
  color: cadetblue;
}
.home_content{
  text-align: justify;
  font-size: 14px;
  font-family: century;
}
.home_icon1{
text-align: center;
}
.home_img{
  width: 20vh;
  height: 10vh;
 
}
.home_backcolor{

  padding-left: 15%;
  padding-right: 12%;
  background-color: #F6F6F6;
}

.second_colorbg{
 padding-top: 50%; 
}

