.trafficstart{
    width: 40vh;
    height: 40vh;
  }
/* .makecenter{
    margin-left: 30%;
} */
.trafficbtn{
    margin-right: 30% !important;

}
.buttoncenter{
    width:100%;
    text-align: center;
}
.traffic{
  
    text-align: center;
}
.inputtraffic{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}
.leftt{
    float: center;
    font-family: century;
    color: cadetblue;
    font-weight: bold;
    letter-spacing: 2px;
}
.timecenter{
    text-align: center !important;
  display: flex !important;
       float:center !important;
}
.alertcolor{
padding-left: 25%;
padding-right: 25%;
    color:white;
    text-align:center;
  
}
.waringcolor{
    
    
    padding: 2% 5% 2%;
    background-color: #F44336;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .alertcolor {
        padding-left: 5% !important;
        padding-right: 5% !important;
        color: white;
        text-align: center;
    }
    .total_count {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: black !important;
        font-size: 15px;
        padding-left: 10%;
    }
    .inputtraffic {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 6% !important;
    }
    .traffic_web {
        font-weight: bold;
        font-size: 22px !important;
        text-transform: uppercase;
        font-family: century;
        color: #33BC9C;
    }
    .traffic_rank {
        font-family: century;
        padding-left: 5%;
        padding-right: 5%;
    }
    .trafiic_count{
        /* border: 1px solid gray; */
        margin-left: 4% !important;
        margin-right: 4% !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* padding-left: 10%;
        padding-right: 10%; */
        
    }
}
.count_hit{
    
    height: auto;
    /* width: 50%;*/
    /* border: 1px solid black;  */

}
.total_count{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: black !important;
}
.hit_counting{
    text-align: center;
    color:#33BC9C ;
}
.trafiic_count{
    /* border: 1px solid gray; */
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-left: 10%;
    padding-right: 10%; */
    
}
.traffic_head{
    text-align: center;
}
.traffic_web{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    font-family: century;
    color: #33BC9C;
}
.traffic_rank{
    font-family: century;
}
