.trafficstart{
    width: 40vh;
    height: 40vh;
  }
/* .makecenter{
    margin-left: 30%;
} */
.trafficbtn{
    margin-right: 30% !important;

}
.buttoncenter{
    width:100%;
    text-align: center;
}
.traffic{
  
    text-align: center;
}
.inputtraffic{
    width:100%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5%;
}
.leftt{
    float: center;
}
.timecenter{
    text-align: center;
    display: flex;
}
.alertcolor{
    color:red;
    text-align:center;
}