.trafficstart{
    width: 40vh;
    height: 40vh;
  }
/* .makecenter{
    margin-left: 30%;
} */
.trafficbtn{
    margin-right: 30% !important;

}
.buttoncenter{
    width:100%;
    text-align: center;
}
.traffic{
  
    text-align: center;
}
.inputtraffic{
    width:100%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5%;
}
.leftt{
    float: center;
    font-family: century;
    color: cadetblue;
    font-weight: bold;
    letter-spacing: 2px;
}
.timecenter{
    text-align: center !important;
  display: flex !important;
       float:center !important;
}
.alertcolor{
padding-left: 25%;
padding-right: 25%;
    color:white;
    text-align:center;
  
}
.waringcolor{
    
    
    padding: 2% 5% 2%;
    background-color: #F44336;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .alertcolor {
        padding-left: 5% !important;
        padding-right: 5% !important;
        color: white;
        text-align: center;
    }
}
