.mywebsite_btn{
    text-align: right;
}
.mywebsite_startbtn{
    background-color:#33BC9C !important;
    text-decoration: none !important;
    outline: none !important;
}
.right_iframe{
  
}
.iframe_width{
    width: 70%;
    height: calc(80vh);
    margin-left: 15%;
    margin-top: 10%;
    margin-right: 15%;
    margin-bottom: 10%;
}
.mywebsite_container {
    width: 100%;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
}
.gird1_center{
    text-align: center;
}
.my_web{
    width: 20vh;
    height: 20vh;
    border: 1px solid gray;
}
.my_gridone{
    flex-basis: 0% !important;
    cursor: pointer;
}
.gridfirst{
    text-align: center;
    color: crimson;
    font-weight: bold;
    font-family: century;
    
}
.all_cards{
    margin-left: 5%;
    /* margin-right: 15%; */
}
.three_card{
    margin-top: 3%;
}
.bg_color1{
    background-color:#FEC669 !important ;
}
.bg_color2{
    background-color: #FD7C80 !important;
}
.bg_color3{
    background-color: #00E65F !important;
}
.bg_color4{
    background-color:#FE6500 !important ;
}
.bg_color5{
    background-color: #FC0859 !important;
}
.bg_color6{
    background-color:#A45CFE !important ;
}
.bg_color7{
    background-color:#85FE93 !important ;
}
.bg_color8{
    background-color: #D451A2 !important;
}
.bg_color9{
    background-color: #BAEEF9 !important;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .mywebsite_container {
        width: 100%;
    display: block;
    flex-wrap: wrap;
    box-sizing: border-box;
    }
    .all_cards{
        margin-left: 20% !important;
        margin-right: 25% !important;
    }
    .my_web {
        width: 25vh !important;
        height: 22vh !important;
        border: 1px solid gray;
        margin-top: 5%;
    }
}