.mywebsite_btn{
    text-align: right;
}
.mywebsite_startbtn{
    background-color:#33BC9C !important;
    text-decoration: none !important;
    outline: none !important;
  font-size: 12px;
}

.iframe_width{
    width: 100%;
    height: calc(80vh);
    /* margin-left: 15%; */
    margin-top: 8%;
    margin-right: 3%;
    margin-bottom: 2%;
}
.mywebsite_container {
    width: 100%;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
}
.gird1_center{
    text-align: center;
}
.my_web{
    width: 20vh;
    height: 20vh;
    /* border: 1px solid gray; */
}
.my_gridone{
    flex-basis: 0% !important;
    cursor: pointer;
}
.gridfirst{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: century;
    
}
.input_button{
    margin-left: 12%;
    margin-right: 10%;
}
.all_cards{
    margin-left: 5%;
    /* margin-right: 15%; */
}
.three_card{
    margin-top: 3%;
}
.bg_color1{
    background-color:#FEC669 !important ;
}
.bg_color2{
    background-color: #FD7C80 !important;
}
.bg_color3{
    background-color: #00E65F !important;
}
.bg_color4{
    background-color:#FE6500 !important ;
}
.bg_color5{
    background-color: #FC0859 !important;
}
.bg_color6{
    background-color:#A45CFE !important ;
}
.bg_color7{
    background-color:#85FE93 !important ;
}
.bg_color8{
    background-color: #D451A2 !important;
}
.bg_color9{
    background-color: #BAEEF9 !important;
}
/* .myweb_input{
    width: 50% !important;
} */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .mywebsite_container {
        width: 100%;
    display: block;
    flex-wrap: wrap;
    box-sizing: border-box;
    }
    .all_cards{
        margin-left: 20% !important;
        margin-right: 25% !important;
    }
    .my_web {
        width: 25vh !important;
        height: 22vh !important;
        border: 1px solid gray;
        margin-top: 5%;
    }
    .mywebsite_startbtn {
        background-color: #33BC9C !important;
        text-decoration: none !important;
        outline: none !important;
        font-size: 12px;
        font-size: 8px !important;
    }
}
.boder_radious{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.global_rank{
    text-align:center;
    margin-bottom: 0px !important;
}
.global_ranking{
    text-align: center;
    color: red;
    margin-bottom: 0px !important;
}
.global_ranking1{
    text-align: center;
    color: green;
    margin-bottom: 0px !important;
}
/* #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  } */