.MuiAppBar-colorPrimary {
  background-color: #fff !important;
}

.logos {
  height: 36px;
}
.signintext {
  color: #3495a2 !important;
}
.logoimage {
  margin-left: 68%;
}

.navigationbar {
  height: ;
}
/* .dropdownsss{
    background-color: black !important;
    margin-left: 2%;
}

#dropdownsss{
    background-color: black !important;
    margin-left: 2%;
    color: black;
} */

.profile-main-div {
  margin-top: 70px;
}
.profilepicture {
  width: 200px;
  height: 200px;
  /* background-color: gray; */
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 40%;
  border: 2px solid gray;
}
.profileimg {
  position: relative;
  top: 90px;
  left: 51px;
}
.username {
  margin-top: 20px;
  margin-left: 50%;
  outline: none;
}
.profile-right {
  margin-top: 70px;
  margin-left: 20%;
  margin-right: 20%;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
}
.profilepicture1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.bodercolor {
  color: cadetblue;
}

.upgradetext {
  color: cadetblue;
}
.HWHoi, .jHsXUi, .lgkeMn {
  font-size: 16px !important;
  font-weight: 700 !important;
}
.dialoged2{
  width: 60vh;
  height: auto;
}
.headingfont{
  font-size: 14px !important;
  font-weight: 600 !important;
}
.cancelbtn{
  background-color: #18758d !important;
  outline: none !important;
}
.deletebtn{
  background-color: rgb(220, 0, 78)!important;
  outline: none !important;
}
.seacrhengine{
  font-size: 15px;
  font-weight: bold;
  font-family: Century !important;
  color: cadetblue;
 
 
}
.seacrhengine2{
  font-size: 14px;
  font-family: Century !important;
  color: cadetblue;
 
 
}
.btnrighttoleft{
  margin-top: 2%;
  margin-right: 12%;
}
.seacrhengine1{
  font-size: 16px;
  font-family: Century !important;
  color: cadetblue;
  text-align: center;
  font-weight: bold;
 
}

/* .profrssionclick :focus{
 color: red;
} */
.hrcolor{
  text-align: center;
}
.dialoged222{
  height: 40vh;
  width: 40vh;
}