.MuiAppBar-colorPrimary {
  background-color: #fff !important;
}

.logos{
    height: 36px;
}
.signintext{
    color: #3495a2 !important;
}
.logoimage{
    margin-left: 68%;
}

.navigationbar{
    height: ;
}
/* .dropdownsss{
    background-color: black !important;
    margin-left: 2%;
}

#dropdownsss{
    background-color: black !important;
    margin-left: 2%;
    color: black;
} */

