.MuiAppBar-colorPrimary {
  background-color: #fff !important;
}

.logos{
    height: 56px;
}

.logoimage{
    margin-left: 68%;
}

/* .dropdownsss{
    background-color: black !important;
    margin-left: 2%;
}

#dropdownsss{
    background-color: black !important;
    margin-left: 2%;
    color: black;
} */

#dropdownss{

}