.MuiAppBar-colorPrimary {
  background-color: #fff !important;
}

.logos {
  height: 36px;
}
.signintext {
  color: #3495a2 !important;
}
.logoimage {
  margin-left: 68%;
}

.navigationbar {
  height: ;
}
/* .dropdownsss{
    background-color: black !important;
    margin-left: 2%;
}

#dropdownsss{
    background-color: black !important;
    margin-left: 2%;
    color: black;
} */

.profile-main-div {
  margin-top: 70px;
}
.profilepicture {
  width: 200px;
  height: 200px;
  /* background-color: gray; */
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 40%;
  border: 2px solid gray;
}
.profileimg {
  position: relative;
  top: 90px;
  left: 51px;
}
.username {
  margin-top: 20px;
  margin-left: 50%;
  outline: none;
}
.profile-right {
  margin-top: 70px;
  margin-left: 20%;
  margin-right: 20%;
}

.profilepicture1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.bodercolor {
  color: cadetblue;
}

.upgradetext {
  color: cadetblue;
  font-family: Century !important;
}
.HWHoi,
.jHsXUi,
.lgkeMn {
  font-size: 16px !important;
  font-weight: 700 !important;
}
.dialoged2 {
  width: 60vh;
  height: auto;
}
.headingfont {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.cancelbtn {
  background-color: #18758d !important;
  outline: none !important;
}
.deletebtn {
  background-color: rgb(220, 0, 78) !important;
  outline: none !important;
}
.seacrhengine {
  font-size: 15px;
  font-weight: bold;
  font-family: Century !important;
  color: cadetblue;
}
.seacrhengine2 {
  font-size: 14px;
  font-family: Century !important;
  color: cadetblue;
}
.btnrighttoleft {
  margin-top: 2%;
  margin-right: 12%;
}
.seacrhengine1 {
  font-size: 16px;
  font-family: Century !important;
  color: cadetblue;
  text-align: center;
  font-weight: bold;
}

/* .profrssionclick :focus{
 color: red;
} */
.hrcolor {
  text-align: center;
}
.dialoged222 {
  height: 40vh;
  width: 40vh;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .imagecentermobile {
    margin-left: 10% !important;
  }

  .profile-right {
    margin-top: 36px !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    width: 45vh !important;
  }
  .inputdata11 {
    width: 45vh !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
  .upgrademargin {
    margin-left: 10% !important;
  }
  .MuiDialogActions-root {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 23% !important;
  }
  .mrrginside2200 {
    margin-right: 24% !important;
  }
  .marginleftfor {
    padding-left: 13% !important;
    width: 41vh !important;
  }
  .btnrighttoleft {
    margin-top: 4% !important;
    margin-right: 25% !important;
  }
  .btnmobile{
    margin-left: 21vh !important;
  }
  .btnmargin {
    margin-right: 7px !important;
}
}
.mrrginside2200 {
  margin-right: 26%;
  margin-top: 4%;
}
.afterplaycolor:active {
  color: white;
  background-color: #18758d;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.textcolorfont .MuiInputBase-input {
  font-family: Century !important;
  font-size: 20px !important;
  color: darkblue !important;
  text-align: center !important;
 
}

.textcolorfont1 .MuiInputBase-input {
  font-family: Century !important;
  font-size: 18px !important;
  color: darkblue !important;
}
.sadataset * div {
  font-family: Century !important;
}
.textcolorfont .MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: none;
  pointer-events: none;
}
.textcolorfont .MuiInput-underline::before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: none;
  pointer-events: none;
}
.buttonsright22{
  float: right;
  
}
.btnmargin{
  margin-right: 30px;
}
.bottoncolorq{
  background-color: #18758d ;
  outline: none !important;
  border-radius: 5px;
  padding: 5px 21px !important;
}
