.heading-center1{
    text-align: center !important;
}
.headingwidth{
    font-weight: bold;
    font-size: 30px;
    color: #18758d;
    font-family: century;
}
.para-content1{
    font-weight: bold;
    font-family: century;
    font-size:17px;
}

.weeks-heading-formatting{
    font-weight: bold;
    font-size: 17px;
    font-family: century;
}
.list-formt{
    font-family: century;
}
.keyword-format{
    font-weight: bold;
    font-size: 15px;
}
.cardbackground{
    background-color: #33bc9c65!important;
   
}
.color-white-content{
    font-size: 0.9rem !important;
    color:crimson !important;
    font-weight: bold !important;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .headingwidth {
        font-weight: bold;
        font-size: 40px !important;
        color: #33BC9C;
        font-family: century;
    }
    

}
@media only screen and (min-width: 800px) and (max-width: 999px) {
    .para-content1 {
        font-weight: bold;
        font-family: century;
        font-size: 16px;
    }

}