.weeks-heading-formatting{
    font-weight: bold;
    font-size: 20px;
    font-family: century;
}
.list-formt{
    font-family: century;
}
.keyword-format{
    font-weight: bold;
    font-size: 15px;
}
.cardbackground{
    background-color: lightgray!important;
   
}
.color-white-content{
    color:crimson !important;
    font-weight: bold !important;
}