.grid-width-format{
    width: 100%;
    height:10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.heading-activity{
    font-weight: bold;
}
.div-width{
    width:40vh;
}
.heading-Website-activity{
    font-weight: bold;
    font-size: 50px;
    color: #33BC9C;
    font-family: century;
}