.grid-width-format{
    width: 100%;
    height:10vh;
    }
.heading-activity{
    font-weight: bold;
}
.div-width{
    width:40vh;
}
.heading-Website-activity{
    font-weight: bold;
    font-size: 50px;
    color: #33BC9C;
    font-family: century;
}