.select_engine{
    font-family: century;
    font-weight: bold;
    color:  #33BC9C;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.email_output{
    margin-left: 10%;
    margin-right: 10%;
  
}
.input_textarea{
    width: 100%;
    height: 70vh;
    overflow: scroll;
}
.extarct_mail{
    font-weight: bold;
    color: #33BC9C;
}
.first_checkbox{
justify-content: center;
    display: flex;
    align-items: center;
}
.left_first_check{
    /* justify-content: center; */
    display: flex;
    align-items: center;
}
.check_button_start{
    text-align: right;
    margin-right: 10%;
   
}
.start_check_color{
    background-color: black !important;
    outline: none !important;
    text-decoration: none !important;
    border-radius: 7%;
}
.radio_font{
    font-size: 20px !important;
}
.bulk_email_font{
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
    font-weight: bold;
    font-family: century;
    color: #33BC9C;
}