.select_engine{
    font-family: century;
    font-weight: bold;
    color:  #33BC9C;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.email_output{
    margin-left: 10%;
    margin-right: 10%;
  
}

.input_textarea{
    width: 100%;
    height: 70vh;
    overflow: scroll;
}
.extarct_mail{
    font-weight: bold;
    color: #33BC9C;
}
.first_checkbox{
justify-content: center;
    display: flex;
    align-items: center;
}
.left_first_check{
    /* justify-content: center; */
    display: flex;
    align-items: center;
}
.check_button_start{
    text-align: right;
    margin-right: 10%;
   
}
.start_check_color{
    background-color: black !important;
    outline: none !important;
    text-decoration: none !important;
    border-radius: 5px;
}
.radio_font{
    font-size: 20px !important;
}
.bulk_email_font{
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
    font-weight: bold;
    font-family: century;
    color: #33BC9C;
}
.input_label{
    margin-bottom: 0px !important;
}
.scopy_all{
    text-align: right;
}
.copy_button{
    background-color: black !important;
    text-decoration: none !important;
    outline: none !important;
    border-radius: 5px !important;
    padding: 4px 5px !important;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    .bulk_email_font{
        text-align: center;
        margin-top: 3%;
        font-size: 30px !important;
        font-weight: bold;
        font-family: century;
        color: #33BC9C;
    } 
}
.email_progess{
    width: 60vh;
    height: 30vh;
}
.email_testing_url{
    text-align: center;
    font-weight: bold;
    color: #33BC9C;
    margin-top: 5%;
    font-size: 25px;
    font-family: century;
}
.email_bar_center{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.this_might_center{
    text-align: center;
    margin-top: 3%;
    font-family: century;
}
/* .copy_button11{
    text-align: center !important;
} */
.content_item{
    display: flex;
    justify-content: space-between;

}
.copy_all_content{
    cursor: pointer;
}